input, textarea {
	border: 1px solid #33333314;
	border-radius: 2px;
}

.option-text {
	text-align: center;
	color: #333;
	font-size: 0.8em;
}

.del-question {
	color: red;
	display: block;
	float: right;
}

.subtitle {
	text-align: center;
}

.submit-btn {
	text-align: center;
}

.questionnaire-title {
	font-size: 1.3em;
	width: 100%;
	font-weight: 500;
	color: #555;
	border: none;
}

.questionnaire-slug {
	width: 100%;
	color: #333333b0;
    font-weight: 300;
    font-family: monospace;
}

.questionnaire-comment {
	color: #555;
}

.new-question {
	text-decoration: underline;
}

.q-label {
	width: 100%;
	font-weight: 500;
}