<form action="{{ url_for('ques.questionnaire', slug=slug) }}" method="POST" id="form">
	{% for q in questionnaire.questions %}

	<h5>{{ q.label }}{% if q.required %}*{% endif %}</h5>
	<p>{{ q.desc }}</p>

	{% if q.type == "text" %}
	<textarea name="{{ q.label }}"></textarea>
	{% elif q.type in ("radio", "checkbox") %}
	<ul class="options">
		{% for opt in q.options %}
		<li>
			<input type="{{ q.type }}" name="{{ q.label }}" value="{{ opt }}">
			{% if opt == 'Other' %}
			<span>其他</span>
			<input type="text" name="other_option">
			{% else %}
			<span>{{ opt }}</span>
			{% endif %}
		</li>
		{% endfor %}
	</ul><br>
	{% endif %}

	{% endfor %}
	<input type="submit" name="submit">
</form>