{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='css/originate.css') }}">
{% endblock %}

{% block title %}LetsVote-创建问卷{% endblock %}

{% block page_content %}
<h1>创建新问卷</h1>

<form method="post" id="form">
	<input placeholder="请输入问卷标题…" name="title" type="text" class="required"><br><br><br>
	<textarea placeholder="介绍（选填）" name="comment"></textarea>
	<hr>

	<div id="question-area"></div>

	<div class="new-question-field">
		<h4>新的问题：</h4>
		<p>
			<div onclick="new_question(1)">单选</div>
			<div onclick="new_question(2)">多选</div>
			<div onclick="new_question(3)">文本</div>
		</p>
	</div>

	<input type="submit" name="submit"></input>
</form>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">

	function del_question(q_id) {
		var q = document.getElementById(q_id);
		q.parentNode.removeChild(q);
	}

	function add_option(q_id) {
		var list = document.getElementById("q" + q_id + "-list");
		var opt = document.createElement('li');
		opt.innerHTML = "<input class='option_item required' type='text' name='q" + q_id + "-option_item'>";
		list.appendChild(opt);

	}

	function del_option(q_id) {
		var list = document.getElementById("q" + q_id + "-list");
		if (list.childElementCount <= 2) {
			alert('At least 2 options are required.')
		} else {
			list.removeChild(list.lastChild);
		}
	}

	// 检查必填项都不为空
	$('#form').submit(function () {
		var mandatories = document.getElementsByClassName('required');
		for (var i = 0; i < mandatories.length; i++) {
			console.log(mandatories[i].value)
			if (mandatories[i].value ===  '') {
				alert('Check inputs.');
				return false;
			}
		}
		return true;
	});


	var form = document.getElementsByTagName('form');
	var q_id = 1;
	function new_question(type) {
		var question_area = document.getElementById('question-area');
		var q_div = document.createElement('div');
		q_div.setAttribute('id', q_id);

		switch(type) {
			case 1: q_div.setAttribute('class', 'radio-field');
					q_div.innerHTML = "<input style='display: none;' name='q" + q_id + "-type' value='radio'>" +
						"<h4>「单选」</h4>" +
						"<p>问题：<input type='text' name='q" + q_id + "-label' class='required'></p>" +
						"<p>描述（选填）：<input type='text' name='q" + q_id + "-desc'></p>" +
						"<h6 class='option-text'>--选项--</h6>" +
						"<a class='option-add' onclick='add_option(" + q_id + ")'>add</a>&nbsp;&nbsp;&nbsp;" +
						"<a class='option-del' onclick='del_option(" + q_id + ")'>del</a>" +
						"<ul id='q" + q_id + "-list'>" +
						"	<li>" +
						"		<input class='option_item required' type='text' name='q" + q_id + "-option_item'>" +
						"	</li>" +
						"	<li>" +
						"		<input class='option_item required' type='text' name='q" + q_id + "-option_item'>" +
						"	</li>" +
						"</ul>" +
						"<input type='checkbox' name='q" + q_id + "-allow_other'>是否包含「其他」项<br>" +
						"<input type='checkbox' name='q" + q_id + "-is_mandatory' checked>是否必选<br>" +
						"<div onclick='del_question(" + q_id + ")'>删除</p>";
					break;
			case 2: q_div.setAttribute('class', 'checkbox-field');
					q_div.innerHTML = "<input style='display: none;' name='q" + q_id + "-type' value='checkbox'>" +
						"<h4>「多选」</h4>" +
						"<p>问题：<input type='text' name='q" + q_id + "-label' class='required'></p>" +
						"<p>描述（选填）：<input type='text' name='q" + q_id + "-desc'></p>" +
						"<h6 class='option-text'>--选项--</h6>" +
						"<a class='option-add' onclick='add_option(" + q_id + ")'>add</a>&nbsp;&nbsp;&nbsp;" +
						"<a class='option-del' onclick='del_option(" + q_id + ")'>del</a>" +
						"<ul id='q" + q_id + "-list'>" +
						"	<li>" +
						"		<input class='option_item required' type='text' name='q" + q_id + "-option_item'>" +
						"	</li>" +
						"	<li>" +
						"		<input class='option_item required' type='text' name='q" + q_id + "-option_item'>" +
						"	</li>" +
						"</ul>" +
						"<input type='checkbox' name='q" + q_id + "-allow_other'>是否包含「其他」项<br>" +
						"<input type='checkbox' name='q" + q_id + "-is_mandatory'>是否必选<br>" +
						"<div onclick='del_question(" + q_id + ")'>删除</p>";
					break;
			case 3: q_div.setAttribute('class', 'text-field');
					q_div.innerHTML = "<input style='display: none;' name='q" + q_id + "-type' value='text'>" +
						"<h4>「文本」</h4>" +
						"<p>问题：<input type='text' name='q" + q_id + "-label' class='required'></p>" +
						"<p>描述（选填）：<input type='text' name='q" + q_id + "-desc'></p>" +
						"<input type='checkbox' name='q" + q_id + "-is_mandatory'>是否必选<br>" +
						"<div onclick='del_question(" + q_id + ")'>删除</p>";
					break;
		}
		q_id++;
		question_area.appendChild(q_div);
	}

</script>
{% endblock %}