{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='css/questionnaire.css') }}">
{% endblock %}

{% block title %}{{ questionnaire.title }}{% endblock title %}

{% block page_content %}
<h1>{{ questionnaire.title }}</h1>
<p>发起人：{{ questionnaire.creator }}</p>
{% if questionnaire.creator == current_user.username %}
	<a href="{{ url_for('ques.results', slug=slug) }}">查看结果</a> | 
	<a href="{{ url_for('ques.delete', slug=slug) }}">删除此问卷</a>
{% endif %}
{% if questionnaire.comment %}
<pre>{{ questionnaire.comment }}</pre>
{% endif %}

<a class="lightbox" href="#qrcode">展示二维码</a> 
<div class="lightbox-target" id="qrcode">
   <img src="{{ url_for('ques.get_qrcode', filename=slug+'.png') }}" alt="Not found" />
   <a class="lightbox-close" href="#"></a>
</div><br>

{% include "form.html" %}
{% endblock %}